*{
	box-sizing: border-box;

}
.s1{
	width:33.33%;
	float: left;
	padding-right: 10px;

}
.ss1{
	background-color: gray;
	height: 100px;
	width: 100%;

}
.s2{
	width: 33.33%;
	float: left;
	padding: 0px 5px;
}
.ss2{
	background-color: red;
	height: 100px;
	width: 100%;

}
.s3{
	width: 33.33%;
	float: left;
	padding-left: 10px;

}
.ss3{ background-color: blue;
height: 100px;
width: 100%;
 }